.mt-2 {
  margin-top: 0.5rem
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.w-\[60px\] {
  width: 60px
}

.w-full {
  width: 100%
}

.overflow-hidden {
  overflow: hidden
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1)
}